.content03 {
  width: 100%;
  height: 100%;
  min-height: 250vh;
  box-sizing: border-box;
  position: relative;
  z-index: 6;
}

.slogun {
  width: auto;
  white-space: nowrap;
  position: absolute;
  color: #121212;
  font-size: 32vw;
  font-weight: 200;
  text-align: center;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ct03-wrapper {
  position: absolute;
  top: 0;
  width: 400vw;
  height: 100vh;
  will-change: transform;
}

.ct03-card {
  position: absolute;
  width: 500px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 0 0.5vw rgba(0,0,0,0.2);
}

.ct03-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#ct03-card-1 {
  top: 50%;
  left: 20%;
}

#ct03-card-2 {
  top: 25%;
  left: 40%;
}

#ct03-card-3 {
  top: 45%;
  left: 60%;
}

#ct03-card-4 {
  top: 15%;
  left: 80%;
}
