.content01 {
  position: relative;
}

.content-wrapper {
  max-width: 1440px;
}

.content01 img {
  width: 100%;
  height: auto;
  display: block;
}

.button-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.button-grid {
  max-width: 1440px;
  margin: 0 auto;
}

.button-grid .back {
  margin-top: 25px;
}

.back {
  background: none;
  mix-blend-mode: difference;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 100px;
  transition: 0.3s ease;
  color: #fff;
  z-index: 11;
  font-size: 1.2rem;
}

.back:hover, .to-top:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255,255,255,0.3);
}

.to-top {
  position: fixed;
  mix-blend-mode: difference;
  bottom: 30px;
  right: 30px;
  background: none;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 100px;
  box-shadow: 0 2px 10px 2px rgba(255,255,255,0.15);
  transition: 0.3s ease;
  color: #fff;
  z-index: 11;
}

.team-name {
    text-transform: uppercase;
    font-size: 12rem;
    font-weight: 700;
    line-height: 0.8;
}

.team {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    padding: 1rem;
}

.team-member {
    flex: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background: #222;
    border-radius: 1.5rem;
    will-change: transform;
}

.team-member:nth-child(1) {
    z-index: 2;
}

.team-member:nth-child(2) {
    z-index: 1;
}

.team-member:nth-child(3) {
    z-index: 0;
}

.team-member-name-initial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50%);
}

.team-member-name-initial h1 {
    color: #fc694c;
    font-size: 20rem;
    will-change: transform;
}

.team-member-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #121212;
    border-radius: 1.5rem;
    will-change: transform;
}

.team-member-img {
    aspect-ratio: 1;
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
}

.team-member-img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0) 70%, #121212);
}

.team-member-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-top: 30px;
}

.team-member-info h1 {
    font-size: 5rem;
    color: #fff;
}

.name-en {
    font-size: 1.3rem;
    font-weight: 400;
    color: #a9a9a9;
}

.info-detail {
  width: 350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: left;
  margin: 50px 0;
  font-size: 1.1rem;
}

.team-member {
    transform: translateY(125%);
}

.team-member-name-initial h1 {
    transform: scale(0);
}

.team-member:nth-child(1) .team-member-card {
    transform: translate(300%, -50%) scale(0.75) rotate(20deg);
}

.team-member:nth-child(2) .team-member-card {
    transform: translate(200%, -50%) scale(0.75) rotate(20deg);
}

.team-member:nth-child(3) .team-member-card {
    transform: translate(100%, -50%) scale(0.75) rotate(20deg);
}

.more {
  width: 100px;
  height: 40px;
  border-radius: 1000px;
  background: none;
  border: 1px solid #999;
}

.more a {
  color: #aaa;
  text-decoration: none;
  transition: 0.2s linear;
  text-transform: uppercase;
}

.more a:hover {
  color: #fff;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 4rem;
    }

    .hero h1, .outro h1 {
        width: 100%;
    }

    .team {
        height: 250vh;
        flex-direction: column;
        align-items: center;
    }

    .team-member {
        max-width: 400px;
        transform: translateY(0%) !important;
    }

    .team-member-name-initial h1 {
        transform: scale(1);
    }

    .team-member .team-member-card {
        transform: translate(-50%, -50%) scale(1) rotate(0deg) !important;
    }

    .team-member-info h1 {
        font-size: 5rem;
    }
}