.content05 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10vh;
}

.ct05-header {
  font-size: 1.3rem;
  margin-bottom: 5rem;
}

.ct05-flow-container {
  width: 100%;
  height: 50svh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flow-area {
  width: 50vw;
  height: 45svh;
  border-radius: 30px;
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #d2d2d2;
}

.flow-inner {
  width: 100%;
  padding: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.area-1 {
  z-index: 1;
}

.area-2 {
  z-index: 2;
}

.area-3 {
  z-index: 3;
}

.area-4 {
  z-index: 4;
}

.txt-area {
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.txt-area h1 {
  font-size: 2.3rem;
}

.txt-area h3 {
  font-size: 1.9rem;
  font-weight: 500;
  margin-top: 7vw;
}

.txt-area p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.img-area {
  width: 20vw;
  height: auto;
  position: relative;
}

.area-1 {
  background: #121212;
}

.area-2 {
  background: #121212;
}

.area-3 {
  background: #121212;
}

.area-4 {
  background: #121212;
}

.prof-1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 70%, #121212);
}

.prof-2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 70%, #121212);
}

.prof-3::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 70%, #121212);
}

.prof-4::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 70%, #121212);
}

.img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
